* {
  box-sizing: border-box;
}

body {
  background-image: url('https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fstartswithabang%2Ffiles%2F2016%2F02%2Fmess-1200x965.jpg');
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main {
  border-radius: 3px;
  padding: 20px;
  background-color: rgba(60, 60, 60, 0.7);
  color: cornsilk;
  width: 90%;
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Space Mono', monospace;
  border: 3px dashed #006C89;
}

img {
  width: 70%;
  border-radius: 3px;
  text-shadow: 1px 1px 1px white;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
}

button {
  width: 100%;
  margin-left:0px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  font-family: 'Space Mono', monospace;
  font-weight:bolder;
  color: cornsilk;
  background-color: transparent;
  border: 2px solid #006C89;
}

button:hover {
  background-color: #CA5D00;
  border: 2px solid  #CA5D00;
}

form {
display: flex;
flex-direction: column;
justify-content: space-around;
width: 60%;
}

fieldset {
  border: 1px solid #006C89;
}

.questionCount {
  font-size: 15px;
  color:  #CA5D00;
}