* {
  box-sizing: border-box;
}

body {
  background-image: url('https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fstartswithabang%2Ffiles%2F2016%2F02%2Fmess-1200x965.jpg');
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main {
  border-radius: 3px;
  padding: 20px;
  background-color: rgba(60, 60, 60, 0.7);
  color: tan;
  width: 90%;
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Space Mono', monospace;
}

img {
  width: 70%;
  border-radius: 3px;
}

h1 {
  font-size: 35px;
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
}

button {
  width: 300px;
  margin-left:0px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  font-family: 'Space Mono', monospace;
  font-weight:bolder;
  background-color: white;

}

form {
  margin-left: 20px;
  /* display: flex;
  align-items: flex-start;
  flex-direction: column; */
  /* text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}
